# IntelliJ
.idea/
target/
out/
*.iml

# Maven
target/

# Eclipse
.project
.classpath
.settings/

# Java
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
.venv/
__pycache__/
*.pyc

# Visual Studio
.vs/
*.suo

# Build folders
bin/
obj/

# VS Code
.vscode/

# User files
*.user
*.rsuser